footer.footer 
    .container 
        .footer-top
            .footer-column 
                a(href="index.html").footer-heading.footer-heading-logo MoGo 
                p.footer-desc.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                p.footer-follower <strong>15k</strong> followers 
                .footer-social 
                    span.text Follow Us:
                    .footer-social-list
                        a.footer-social-icon(href="#") 
                            i.fab.fa-facebook
                        a.footer-social-icon(href="#")                          
                            i.fab.fa-twitter
                        a.footer-social-icon(href="#")                          
                            i.fab.fa-instagram
                        a.footer-social-icon(href="#")                          
                            i.fab.fa-pinterest
                        a.footer-social-icon(href="#")                          
                            i.fab.fa-google
                        a.footer-social-icon(href="#")                          
                            i.fab.fa-youtube
                        a.footer-social-icon(href="#")                          
                            i.fab.fa-facebook
                        a.footer-social-icon(href="#")                          
                            i.fab.fa-facebook
                form.footer-form(action="javascript:void(0)")
                    input(type= "email" placeholder="Your Email").footer-form-input
                    button.footer-form-button Subscribe
            .footer-column 
                h3.footer-heading Blogs 
                +footerBlogsItem("../images/img-blogs1.png", "Lorem ipsum dolor sit amet, consectetur adipiscing")   
                +footerBlogsItem("../images/img-blogs2.png", "Consectetur adipiscing elit, sed do eiusmod tempor")         
                +footerBlogsItem("../images/img-blogs3.png", "sed do eiusmod tempor incididunt ut labore")         
            .footer-column 
                h3.footer-heading Instagram
                .footer-img 
                    +footerImgItem("../images/img-work1.png")
                    +footerImgItem("../images/img-work2.png")
                    +footerImgItem("../images/img-work3.png")
                    +footerImgItem("../images/img-work4.png")
                    +footerImgItem("../images/img-work5.png")
                    +footerImgItem("../images/img-work6.png")
                    +footerImgItem("../images/img-work7.png")
                    +footerImgItem("../images/img-blog1.png")
                    +footerImgItem("../images/img-blog2.png")
                a(href="#").footer-img-more.text.text-light View more photos
        .footer-bottom &copy; 2016 MoGo free PSD template by <span> Laaqiq </span>
