section.number
    .container 
        .number-list 
            +numberItem('42', 'web design projects')
            +numberItem('123', 'happy client')
            +numberItem('15', 'award winner')
            +numberItem('99', 'cup of coffee')
            +numberItem('24', 'members')
