section.people 
    .container 
        +blockSection("Happy clients", "What people say")
        ul.people-list 
            +peopleItem("../images/img-people1.png", "Matthew Dix", "Graphic design", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.")
            +peopleItem("../images/img-people2.png", "Nick Karvounis", "Graphic design", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.")
            +peopleItem("../images/img-people3.png", "Jaelynn Castillo ", "Graphic design", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.")
            +peopleItem("../images/img-people4.png", "Mike Petrucci", "Graphic design", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.")
            