section.quote 
    .container 
        .quote-container 
            .quote-carousel
                .quote-slider
                    +quoteItem("../images/img-work2.png", "Potter", "lastClone")
                    +quoteItem("../images/img-quote.png", "Jom ipn Doe")
                    +quoteItem("../images/img-work1.png", "Harry")
                    +quoteItem("../images/img-work2.png", "Potter")
                    +quoteItem("../images/img-quote.png", "Jom ipn Doe", "firstClone")
            i.fa.fa-angle-left.quote-arrow-left.quote-arrow
            i.fa.fa-angle-right.quote-arrow-right.quote-arrow
