section.service#service 
    .container 
        +blockSection("We work with", "Amazing Services")
        .service-container
            .service-list 
                +serviceItem("../images/img-service-icon1.png", "Photography", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor sed do eiusmod temporsed do eiusmod tempor.")
                +serviceItem("../images/img-service-icon2.png", "Web Design", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor sed do eiusmod temporsed do eiusmod tempor.")
                +serviceItem("../images/img-service-icon3.png", "Creativity", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor sed do eiusmod temporsed do eiusmod tempor.")
            .service-list
                +serviceItem("../images/img-service-icon4.png", "Seo", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor sed do eiusmod temporsed do eiusmod tempor.")
                +serviceItem("../images/img-service-icon5.png", "Html/css", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor sed do eiusmod temporsed do eiusmod tempor.")
                +serviceItem("../images/img-service-icon6.png", "Digital", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor sed do eiusmod temporsed do eiusmod tempor.")

