section.story#blog
    .container 
        +blockSection("Our Story", "Latest Blog")
        ul.story-list 
            +storyItem("../images/img-blog1.png", "15", "Jan", "542", "17", "Lorem ipsum dolor sit amet", "Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
            +storyItem("../images/img-blog2.png", "14", "Jan", "992", "42", "sed do eiusmod tempor", "Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
            +storyItem("../images/img-blog3.png", "12", "Jan", "1568", "98", "incididunt ut labore et dolore", "Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
section.map 
    .container 
        .map-content 
            img.map-icon(src="../images/img-map-icon.png")
            h2.map-heading Open map