.wedo {
    padding: 10rem 0;
    // &-container {
    //     @include flexBox(stretch, space-between);
    // }
    // &-content,
    // &-img {
    //     width: calc(50% - 1.5rem);
    // }
    &-img {
        object-fit: cover;
    }
    &-item {
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: 0.6rem;
        }
        &-inner {
            overflow: hidden;
            height: 0;
            transition: height 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        &-header {
            @include flexBox(center);
            padding: 1.5rem;
            border: 2px solid $gray-light-color;
            cursor: pointer;
        }
        &-icon {
            margin-right: 1.5rem;
        }
        &-title {
            text-transform: uppercase;
            font-weight: bold;
            @include textClamp;
            padding-right: 2rem;
        }
        &-arrow {
            margin-left: auto;
            color: $gray-dark-color;
            font-size: 3rem;
            transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        &-content {
            height: 0;
            transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
            padding: 2rem;
            border: 2px solid $gray-light-color;
            border-top: 0;
            font: {
                size: 1.5rem;
                family: $secondary-font;
                style: italic;
                weight: 100;
            }
            line-height: 1.6;
            color: $text-color;
        }
        &-text {
            height: 0;
            padding-right: 2rem;
            overflow-y: scroll;
            transition: height 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-track {
                background: $gray-light-color;
                border-radius: 2rem;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $third-color;
                border-radius: 2rem;
            }
        }
        .wedo-active &-inner {
            height: 182px;
            transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        .wedo-active &-content {
            height: auto;
            transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        .wedo-active &-text {
            height: 14rem;
            transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        .wedo-active &-arrow {
            transform: rotate(180deg);
            transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
       
    }
    @include minWidth(768px) {
        &-container {
            @include flexBox(stretch, space-between);
        }
        &-content,
        &-img {
            width: calc(50% - 1.5rem);
        }
    }
    @include maxWidth(767px) {
        padding: 5rem;
        &-img {
            margin-bottom: 2rem;
        }
    }
}
